.router-box-item{
    display: flex;
    width: 76px;
    height: 30px;
    padding-left:10px;
    line-height: 30px;
    text-align: center;
    float: left;
}
.icon{
    display: flex;
    flex-direction: row;
    width: 16px;
    height: 16px;
    margin-top: 9px;
    margin-right: 2px;
    color: #757575;
}
