html {
    overflow-y: scroll;
    height: 100%;
  }
  body {
    /* height: 100%; */
    width: 100vw;
  }
  a{
    text-decoration: none;
  }
  .clear_fix::after{
    content:" ";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
    overflow:hidden;
}