.b_content{
    padding: 0 15px;
}
.ans_list{
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E9E9E9;
}

.unanswer{
    margin:10px;
}
.selected{
   color: #009A61;
   font-weight: bold;
}

.course{
    position: relative;
    padding:0 15px;
    background-color: #FAFAFA;
}
.classrecommend{
    padding: 15px 0 15px 15px;
}
.classtitle{
    margin-bottom: 10px;
    font-size: 16px;
}

.swiper-wrapper .swiper-slide{
    width: 192px;
    height: 220px;
    text-align: center;
}
.swiper-slide img{
    border-radius: 6px;
}
.title{
    padding: 4px 60px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px; 
}
.class_price{
    margin-top: 8px;
}
.discountPrice{
    color:#ED1C24 ;
    font-size: 14px;
    font-weight: bold;
    margin-right: 6px;
}
.price{
    text-decoration: line-through;
}